body{
    background-color: #d6d8da;
   }
   header{
    text-align: center;
    height: 120px;
    padding-top: 1px;
    background-color: #1680eb;
    color: #FFFFFF;
    font-size: x-large;
   }
   h3{
    margin-top: 2px;
    text-align: center;
    background-color: #80bfff;
   }
   form{
    border: 6px solid #1C6EA4;
    width: 45%;
    display: inline-block;
    margin: 20px;
    text-align: center;
   }
   div
   {
    text-align: center;
   }
   footer{
    margin-top: 3%;
    text-align: center;
   }
