body{
    background-color: #d6d8da;
   }
   header{
    text-align: center;
    height: 120px;
    padding-top: 1px;
    background-color: #1680eb;
    color: #FFFFFF;
    font-size: x-large;
   }
   h3{
    margin-top: 2px;
    text-align: center;
    background-color: #80bfff;
   }
   form{
    border: 6px solid #1C6EA4;
    width: 70%;
    display: inline-block;
    margin: 20px;
    text-align: center;
   }
   div
   {
    text-align: center;
   }
   footer{
    margin-top: 3%;
    text-align: center;
   }
   table {
    width: 100%;
  }
  
  th {
    padding: 15px;
    height: 100px;
    width: 70%;
    background-color: gainsboro;
  }

  .SelectedDiv{
    padding: 15px;
    padding-top:0;
    text-align: left;
    width: 40%;
    margin: 10px;
    display:inline-block;
  }

